/* General CSS, which can be found on all pages! */
.white-bgrnd {
	margin: 20px;
	padding: 50px;
	background:rgba(255,255,255, 0.90);
	border-radius: 10px;
	box-shadow: 0 6px 25px 0 black;	
}

img {
    max-width: 100%; height: auto;
	border-radius:15px;
	box-shadow: 0 6px 25px 0 black;
}

/*used by login popup window for username and password input fields*/
input[type=text], select, textarea, input[type=password]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

body {
 width:100%;
 height: 100%;
 font-family: Bell MT, Helvetica;
 background-image: url("../Img/generalBackground.jpg");
 letter-spacing: 3px;
 margin:0;	
 }



/* navbar and sidebar*/

#id01 {
	z-index: 50;
	max-width: 100%; height: relative;
}
#mySidenav {
	z-index:100;

}

 
.navbar {
  overflow: hidden;
  background-color: #FEFFFA;
  box-shadow: 0 3px 20px 0 black;
  width: 100%;
}
.navbar a {
  float: left;
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn, {
  background-color: #F0F0EF;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: inline-block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  width:100%;
}

.sidenav .closebtn {
  position: absolute;
  font-size: 25px;
  overflow:visible;
}

.sidelist {
	height: 100px;
	border: 3px solid red;
}

/*
@media screen and (min-width: 1127px) {
  .sidenav {padding: 20px 5px;}
  .sidenav a {font-size:30px;}
} 
*/

#navbar img:hover, #sidenavbtn{
  opacity: 10%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 15px;  
  letter-spacing: 3px;
  border: none;
  outline: none;
  color: black;
  padding: 12px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:37px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

button {
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  float:right;
}

button:hover {
  opacity: 0.8;
}

.modal {

  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  padding: 15px;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  border-radius:10px;
  width: 50%;
  height:45%;
}

@media screen and (max-width:924px)
	{
		.modal-content {
			padding:0px;
			width: 45%;
			height:35%;
		}
		#login_submit {
			max-width:45%;
			padding:5px 10px;
		}
		#reg_submit {
			max-width:45%;
			float:left;
			padding:5px 10px;
		}
		#forgot {
			margin: 0px;
			padding:0px;
		}
		.data-container label,
		.data-container a,
		.data-container button{
			font-size:12px;
		}
	}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.data-container {
  padding: 10px;
  margin-top:0px; 
  background-color: white;
  border:none;

}

 input[type=text1], input[type=password1] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.close {
  position: absolute;
  right: 25px;
  top: -10px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


img {
    width: 100%;
	height:100%;
	
	box-shadow: 0 6px 25px 0 black;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}




footer {
	z-index:70;
    position:fixed;bottom:0;
	background-color: #fff;
    display:block;
	padding: 6px 8px;
	box-shadow: 0 3px 20px 0 black;
	width: 100%;
	text-align:center;
}



/* /* _index.php */ 
/* slideshow */
#dots {

}

.slideshow-current {
  position: relative;
  margin: auto auto 0 auto;
}

.slideshow-current .btn {
  position: relative;
  top: 74%;
  left: 65%;
  transform: translate(-60%, -60%);
  -ms-transform: translate(-60%, -60%);
  background-color: #fff;
  opacity: 0.9;
  color: grey;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 25px 0 black;

}

.slideshow-current .btn:hover {
  opacity:0.7;
  filter: alpha(opacity=70);

}

.container .btn:hover {
  background-color: black;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
 .mySlides {
	display: none
	}

 .mySlides img {

	max-width: 100%;
	max-height: auto;
	}



/*  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

/* scroll button */

.scroll {
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  z-index:9;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* gallery */
.center {
  text-align: center;
  max-width: 100%;
  border: none;
 
}

.flex {
	display:flex;
	flex-wrap:wrap;

}

#section2 .row1{
	margin-top:20px;
	width:650px;
	height:259px;
	max-width: 40%; height: auto;
	
}	

#section2 img{
	margin;20px;
	width: 90%; height: auto;
}	

#section2 .row2{
	width:289px;
	height:250px;
	max-width: 20%; height: auto;
	 margin-bottom: 40px;
}	


.row2 a, .row1 a {
	margin:20px;
}
.row2 , .row1  {
	margin:auto;
}


.zoom {
 padding:10px;
 background:rgba(255,255,255, 0.90);

  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.01); /* IE 9 */
  -webkit-transform: scale(1.01); /* Safari 3-8 */
  transform: scale(1.01); 
}

/*about */
.not-active {
 pointer-events: none;
  cursor: default;
  color: black;
  text-decoration: none;
}

#aboutText{
	text-align: center;
	font-size:19px;
	vertical-align: middle;
	padding: 2% 0;
	}
.goTo {
	background-color: rgba(26,109,125, 0.60);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  opacity: 50%;
}

#goToid:hover {
  background-color: rgba(26,109,125, 0.90);
  color: white;
  opacity: 100%;
}
